server:
  port: 9003
spring:
  application:
    name: dispatcher-service
  cloud:
    function: #définition de la combinaison séquentielle des fonctions
      definition: pack|label
    stream:
      bindings:
        packlabel-in-0: # nom logique du destination binding in assigné par le binder
          #une queue <destination>.<group> est créé au lancement de l'app
          destination: order-accepted # nom de l'exchange dans le broker RabbitMQ
          group: ${spring.application.name} #groupe consommateur écoutant la destination (souscrivant à la dest)
        packlabel-out-0:
          destination: order-dispatched

  #configuration de l'intégration avec RabbitMQ
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: password
    connection-timeout: 5s

info:
  system: Polar Bookshop

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, info, heapdump
  endpoint:
    health:
      show-details: always
      show-components: always
      #activation des EP /actuator/health/liveness et readiness
      probes:
        enabled: true
  #tag des métriques exposées avec une clé/valeur application=nom app
  metrics:
    tags:
      applications: ${spring.application.name}
  info:
    env:
      enabled: true
    os:
      enabled: true
    java:
      enabled: true