apiVersion: apps/v1
kind: Deployment
metadata:
  name: dispatcher-service
  labels:
    app: dispatcher-service
#Etat désirée pour l'application stateless order-service. Deployment spécifie la création d'un seul pod pour order-service
spec:
  replicas: 1 #Par défaut 1 - donc optionnel si 1 seul pod désiré.
  #Indication du label permettant de déterminer le pod à "répliquer". Doit correspondre à un label indiqué dans template
  selector:
    matchLabels:
      app: dispatcher-service
  template:
    metadata:
      name: dispatcher-service #nom du pod
      #déclaration du label permettant d'identifier le pod (doit correspondre à matchLabels ci-dessus)
      labels:
        app: dispatcher-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: /actuator/prometheus
        prometheus.io/port: "9003"
    spec:
      containers:
        - name: dispatcher-service
          image: dispatcher-service
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9003
          # var d'env de configuration de catalog-service lors de son démarrage
          env:
            - name: BPL_JVM_THREAD_COUNT # configure le nombre de threads que la JVM peut créer au sein d'un container d'image BuildPacks
              value: "50"
          lifecycle:
            preStop:
              exec:
                command: [ "sh", "-c", "sleep 5" ]
          livenessProbe:
            httpGet:
              port: 9003
              path: /actuator/health/liveness
            initialDelaySeconds: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              port: 9003
              path: /actuator/health/readiness
            initialDelaySeconds: 10
            periodSeconds: 15
          volumeMounts:
            - mountPath: /workspace/config
              name: dispatcher-config-volume
      volumes:
        - name: dispatcher-config-volume
          configMap:
            name: dispatcher-config